/* Navbar.css */
.navbar-container {
  display: flex;
  align-items: flex-start;
  height: 200px;
}

.navbar-item {
  cursor: pointer;
  width: 1940px;
}

.navbar-image {
  width: 1940px;
  height: 100%;
  background-size: cover; /* Hace que la imagen cubra completamente el contenedor */
  background-position: center; /* Centra la imagen */
}






