.GESTORES {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.GESTORES .contenido-wrapper {
    background-color: #ffffff;
    height: 251px;
    width: 100%;
}

.GESTORES .contenido {
    height: 139px;
    left: 65px;
    position: relative;
    top: 47px;
    width: 90%;
}

.GESTORES .tabla {
    height: 139px;
    position: relative;
}

.GESTORES .MEETING {
    background-color: #f5f6fa;
    border-radius: 10px;
    height: 70px;
    width: 105%;
    margin-bottom: 20px;
    
}


.GESTORES .MEETING .group {
    padding: 50px;
    
}

.GESTORES .MEETING .accionesT {
    position: absolute;
    left: 0;
    bottom: 10px;
    /* Ajusta la posición vertical de los botones */
}

.GESTORES .group {
    height: 54px;
    left: 35px;
    position: relative;
    top: 28px;
    width: 841px;
}

.GESTORES .text-wrapper {
    color: #7b7d7f;
    font-family: "Lato", Helvetica;
    font-size: 15px;
    font-weight: 700;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: -10px;
    white-space: nowrap;
    width: 200px;
    height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    display: inline-block;
}

.GESTORES .text-wrapper-10 {
    color: #7b7d7f;
    font-family: "Lato", Helvetica;
    font-size: 15px;
    font-weight: 700;
    left: 240px;
    letter-spacing: 0;
    line-height: 20px; /* Ajusta la altura de línea según sea necesario */
    position: absolute;
    text-align: center;
    top: -10px;
    
    width: 200px;
    max-height: 40px; /* Altura máxima para dos líneas */
    overflow: hidden;
    white-space: pre-wrap; /* Permite que el texto se ajuste automáticamente a múltiples líneas */
    word-wrap: break-word; /* Rompe palabras largas para ajustarse al ancho */
    display: inline-block;
}

.GESTORES .text-wrapper-2 {
    color: #7b7d7f;
    font-family: "Lato", Helvetica;
    font-size: 15px;
    font-weight: 700;
    left: 440px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: -10px;
    white-space: nowrap;
    width: 200px;
    height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    display: inline-block;
}

.GESTORES .text-wrapper-3 {
    color: #7b7d7f;
    font-family: "Lato", Helvetica;
    font-size: 15px;
    font-weight: 700;
    left: 630px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: -10px;
    white-space: nowrap;
    width: 200px;
    height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    display: inline-block;
}

.GESTORES .direcarrera {
    color: #7b7d7f;
    font-family: "Lato", Helvetica;
    font-size: 15px;
    font-weight: 700;
    left: 864px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: -15px;
    
    width: 200px;
    height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    display: inline-block;
}

.GESTORES .navbar {
    height: 18px;
    left: 68px;
    position: absolute;
    top: 0;
    width: 945px;
}

.GESTORES .text-wrapper-4 {
    color: #000022;
    font-family: "Lato", Helvetica;
    font-size: 15px;
    font-weight: 700;
    left: 40px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: -40px;
    white-space: nowrap;
}

.GESTORES .text-wrapper-5 {
    color: #000022;
    font-family: "Lato", Helvetica;
    font-size: 15px;
    font-weight: 700;
    left: 283px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: -40px;
    white-space: nowrap;
}

.GESTORES .text-wrapper-9 {
    color: #000022;
    font-family: "Lato", Helvetica;
    font-size: 15px;
    font-weight: 700;
    left: 495px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: -40px;
    white-space: nowrap;
}

.GESTORES .text-wrapper-6 {
    color: #000022;
    font-family: "Lato", Helvetica;
    font-size: 15px;
    font-weight: 700;
    left: 665px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: -40px;
    white-space: nowrap;
}

.GESTORES .text-wrapper-7 {
    color: #000022;
    font-family: "Lato", Helvetica;
    font-size: 15px;
    font-weight: 700;
    left: 900px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: -40px;
    white-space: nowrap;

}

.GESTORES .text-wrapper-8 {
    color: #000022;
    font-family: "Lato", Helvetica;
    font-size: 15px;
    font-weight: 700;
    left: 1172px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: -40px;
    white-space: nowrap;
}

.GESTORES .text-wrapper-9 {

    position: flex;
    line-height: normal;

    text-align: center;

    white-space: nowrap;

}

.GESTORES .delete-buttonPG {

    height: 35px;
    width: 80px;
    font-size: 30px;
    border-color: transparent;
    background-color: transparent;
    top: -137px;
    left: 1180px;
    position: relative;

}

.GESTORES .edit-buttonPG {
    color: #069877;
    height: 35px;
    width: 80px;
    font-size: 30px;
    background-color: transparent;
    border-radius: 5px;
    border-color: transparent;
    position: relative;
    top: -137px;
    left: 1200px;
}

.GESTORES .icon-containerPG {
    color: #7C7D7F;
}

.pagination {
    top: 1350px;
    position: absolute;
    left: 1000px;
}

.action-buttons {
    left: 1065px;
    top: 1420px;
    position: absolute;
}

.registrarGe {
    height: 45px;
    left: 1050px;
    position: absolute;
    top: 0;
    width: 102px;
    border-radius: 10px;
  }
  
  .oGe {
    background-color: #069877;
    border-radius: 10px;
    height: 45px;
    position: relative;
    width: 103px;
    top: 1430px;
    
  }
  
  .dGe {
    color: #ffffff;
    font-family: "Lato-Bold", Helvetica;
    font-size: 18px;
    font-weight: 700;
    border-radius: 10px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    height: 45px;
    background-color: #069877;
    width: 103px;
    left: -1px;
    top: 5px;
    text-align: center;
  }